@model IEnumerable<WebApplication.Models.Todo>

@{
	ViewBag.Title = "Index";
}

<h2>My to-do list</h2>

<div class="form-group">
	<a class="btn btn-primary" asp-area="" asp-controller="Todo" asp-action="Create">Create new to-do task</a>
</div>

<form>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Search to-do task by name" />
	</div>
	<button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Description</th>
			<th scope="col">Due Date</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in @Model)
		{
			<tr>
				<th scope="row">@item.ID</th>
				<td>@item.Description</td>
				<td>@item.DueDate.ToString("d")</td>
				<td>
					<a asp-route-id=@item.ID asp-area="" asp-action="Delete" class="btn btn-danger">Delete</a>
					<a asp-route-id=@item.ID asp-area="" asp-action="Edit" class="btn btn-success">Edit</a>
					<a asp-route-id=@item.ID asp-area="" asp-action="Detail" class="btn btn-info">Detail</a>
				</td>
			</tr>
		}
	</tbody>
</table>


